.settings-setting {
  padding: 20px 0px;
  border-bottom: var(--mainBorder);
  font-size: 18px;
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.settings-setting i {
  margin-right: 15px;
  font-size: 22px;
  opacity: 0.8;
}
.settings-list {
  color: var(--brown);
}
.setings-setting__column:last-child {
  opacity: 0.5;
}
