#no-mobile {
  position: absolute;
  z-index: 90;
  height: 100vh;
  width: 100vw;
  background-color: #e6eb8d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  top: 0;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
